__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.mo
*.pot
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/
*.sqlite
*.db
uploads/
/tmp/
subs/
logs/
instance/
.webassets-cache
.scrapy
docs/_build/
target/
profile_default/
ipython_config.py
*.sage.py
.env
.envrc
