Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.3
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
gunicorn==22.0.0
requests==2.32.3
beautifulsoup4==4.12.3
cloudscraper==1.2.71
lxml==5.2.2
Pillow==10.4.0
python-dateutil==2.9.0.post0
